<md-toolbar md-scroll-shrink class="md-primary md-hue-3">

    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menu" ng-click="header.toggleLeft()" hide-gt-md>
            <ng-md-icon icon="menu" style="fill: black" size="24"></ng-md-icon>
        </md-button>

        <md-button class="md-icon-button" ui-sref="client.home">
            <md-icon ng-md-icon icon="home" style="fill: black" size="24"></md-icon>
            <md-tooltip md-direction="bottom">Home</md-tooltip>
        </md-button>
        <h2 class="md-headline">
            <span> / </span>
            <span ng-bind="title"></span>
        </h2>

        <span flex></span>

        <md-button class="md-icon-button" aria-label="Menu" ng-click="header.toggleRight()" ng-hide="header.isOpenRight()">
            <ng-md-icon icon="menu" style="fill: black" size="24"></ng-md-icon>
        </md-button>
    </div>
</md-toolbar>

