<div id="minimalist-layout-container" layout="column" ng-cloak>
    <section layout="row" flex>
        <div id="minimalist-sidenav">
            <!--sidenav-->
            <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
                <div ui-view="sidenav"></div>
            </md-sidenav>
        </div>
        <md-content flex>
            <div layout="column" layout-fill>
                <!--header-->
                <div ui-view="header"></div>
                <!--main-->
                <div ui-view="main"></div>
            </div>
            <div flex></div>
        </md-content>
        <!--aside-->
        <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
            <div ui-view="aside"></div>
        </md-sidenav>
    </section>
    <!--footer-->
    <div ui-view="footer"></div>
</div>